body {
  height: 100%;
  width: 100%;
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #282c34;  
}

/* Couldn't find a way to do it with styled compoennts */
.user-input input {
  font-size: 20px;
}
